.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
   .dice {
    text-align: center;
    display: inline-block; 
  }
 body {
    background-color: #42032C;
  }
  h1 {
    margin: 30px;
    font-family: 'Rancho', cursive;
    text-shadow: 5px 0 #D800A6;
    font-size: 8rem;
    color: #87A2FB;
  }
   p {
    font-size: 2rem;
    color: #AAC4FF;
    font-family: 'Merriweather', serif;
  }
  img {
    width: 80%;
  } 
  footer {
    margin-top: 5%;
    color: #AAC4FF;
    text-align: center;
    font-family: 'Merriweather', serif;
  }
  